/* *{
    background-color:#383838 ;
} */
.card-container {
    display: inline-block;
    /* Ensures that cards stay in a row */
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 12px;
    /* Space between cards */
}

/* movie details*/
.movie-container {
    width: 1016px;
    height: 580px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-image img {
    margin-top: 20px;
    width: 300px;
    height: 450px;
}

.movie-content {
    color: #FFFFFF;
    font-size: 16px;
}

.movie-heading {
    font-size: 32px;
}

.movie-heading h2 {
    font-weight: bolder;
}

/* Apply to all scrollbars */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #F5AD42;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #272727;
    border-radius: 5px;
}




























/* .cine-box {
    width: 1020px;
    height: 370px;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cine-item {
    height: 100%;
    width: 16%;
    flex-shrink: 0; 
    margin-left: 10px; 
}
.cine-item img {
    height: 225px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.cine-item a {
    color: #000000;
    font-size: 900;
    text-align: center;
    font-size: 16px;
}

.cine-item p {
    color: #000000;
    text-align: center;
    font-size: 10px;
} */